body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #fff;
  background: #fff;
}

.navbar {
  background: #5c54d5;
  color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.nav-list a {
  color: #fff;
  text-decoration: none;
}

.header {
  background-image: url('images/image.jpg'); 
  background-size: cover;      
  background-position: center; 
  background-repeat: no-repeat;
  height: 100vh;               
  width: 100%;
  position: relative;
}

.header-content {
  height: 100vh;  
  display: flex;
  flex-direction: column;
  align-items: center;   
  justify-content: center;  
  text-align: center;

  background-image: url('Header.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.header-content p {
  font-size: 18px;
  margin-bottom: 20px;
}

.header-content button {
  padding: 10px 20px;
  background: #fff;
  color: #5c54d5;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
}

.header-content button:hover {
  background: #5c54d5;
  color: #fff;
}

.produtos {
  padding: 50px;
  text-align: center;
  background: #f5f5f5;
}

.produtos h2 {
  color: #5c54d5;
  font-size: 32px;
  margin-bottom: 40px;
}

.produtos p{
    color: #000;
}

.produtos-list {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.produto-item {
  background: #fff;
  padding: 20px;
  border-radius: 30px;
  border: 1px solid #ccc;
  width: 250px;
  text-align: left;
  box-shadow: 0 4px 14px rgb(0 0 0 / 0.1);
}

.produto-item img {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 20px;
}

.produto-item h3 {
  color: #5c54d5;
  margin-bottom: 10px;
}

.produto-item p {
  color: #555;
  margin-bottom: 10px;
}

.produto-item span {
  color: #888;
  font-size: 14px;
}

.produto-item strong {
  color: #555;
  font-size: 16px;
}

.produto-item button {
  margin-top: 20px;
  padding: 10px 20px;
  background: #fff;
  color: #5c54d5;
  border: 1px solid #5c54d5;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.produto-item button:hover {
  background: #5c54d5;
  color: #fff;
}


/* Nossos planos */
.planos {
  padding: 50px;
  text-align: center;
  background: #f5f5f5;
  color: #5c54d5;
}

.planos-icones {
  display: flex;
  gap: 30px;
  justify-content: center;
 align-items: flex-start;
}

.planos-icones div {
  text-align: center;
  font-size: 1.1rem;
}

.planos-icones div i {
  font-size: 2.5rem;
  display: block;
  margin-bottom: 15px;
}

.planos-list {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.plano-item {
  background: #fff;
  padding: 20px;
  border-radius: 30px;
  border: 1px solid #ccc;
  width: 250px;
  text-align: left;
  box-shadow: 0 4px 14px rgb(0 0 0 / 0.1);
}

.plano-item h3 {
  color: #5c54d5;
  margin-bottom: 10px;
}

.plano-item strong {
  color: #5c54d5;
  font-size: 30px;
}

.plano-item ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.plano-item ul li {
  color: #555;
  margin-bottom: 10px;
}

.plano-item button {
  padding: 10px 20px;
  background: #5c54d5;
  color: #fff;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
}

.plano-item button:hover {
  background: #fff;
  color: #5c54d5;
  border: 1px solid #5c54d5;
}

/* Como trabalhamos */
.container {
  text-align: center;
  padding: 50px;
  font-family: Arial, sans-serif;
}

.container h1 {
  font-size: 2.5rem;
  color: #4A405A;
  margin-bottom: 30px;
}

.steps {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); 
  gap: 20px;
}

.step {
  padding: 20px;
  border-radius: 12px;
  background: #F5F5F9;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.step:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 14px rgb(0 0 0 / 0.1);
}

.step img {
  width: 50px;
  margin-bottom: 15px;
  color: #5c54d5;
}

.step h3 {
  color: #4A405A;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.step p {
  color: #6E6E79;
  font-size: 0.95rem;
}


/* Sobre nós */
.sobre-nos {
  padding: 50px;
  text-align: center;
  color: #fff;
  background-color: #5c54d5; 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.sobre-nos p {
  max-width: 500px;
  margin: 20px auto 0;
  font-size: 18px;
}